@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@theme{
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;

    --font-poppins: "Poppins", "sans-serif";

}

@layer utilities {
    .prose {
        @apply max-w-[65ch] mx-auto;

        h1 {
            @apply text-3xl font-bold text-white no-underline;
        }

        h2 {
            @apply text-2xl font-bold text-white no-underline;
        }

        p{
            @apply text-white
        }

        a{
            @apply text-white
        }
    
        img {
            @apply rounded-2xl w-1/1
        }
    }


    
}