---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <h2><a href="/" class="site-title">Portfolio Mougenot Matéo</a></h2>
    <div class="internal-links">
      <HeaderLink href="/" class="nav-link">Home</HeaderLink>
      <HeaderLink href="/blog" class="nav-link">Blog</HeaderLink>
      <HeaderLink href="/about" class="nav-link">About</HeaderLink>
      <!-- <HeaderLink href="/pizza" class="nav-link">Pizza</HeaderLink>
      <HeaderLink href="/portfolio" class="nav-link">Portfolio</HeaderLink> -->
    </div>
  </nav>
</header>

<style>
  :root {
    --bg-color: #121212;
    --text-color: #E0E0E0;
    --accent-color: #FF6F61;
    --hover-color: #444;
    --border-color: rgba(255, 255, 255, 0.1);
    --highlight-color: rgba(255, 255, 255, 0.2);
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
  }

  header {
    margin: 0;
    padding: 0 1.5em;
    background-color: var(--bg-color);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .site-title {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
  }

  .site-title a {
    text-decoration: none;
    color: var(--text-color);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
  }

  .internal-links {
    display: flex;
    gap: 1.5em;
  }

  .nav-link {
    padding: 0.8em 1em;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
  }

  .nav-link:hover,
  .nav-link.active {
    color: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    background-color: var(--highlight-color);
  }

  @media (max-width: 720px) {
    .internal-links {
      display: none;
    }
  }
</style>
